.main-content-a {
  display: flex;
  flex: 1;
  width: 100%;
}

.ver-ticket-a .content-a {
  flex-grow: 1;
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(139, 147, 160);
  margin-left: 280px;
  margin-right: 280px;
  width: calc(98% - 280px);
  height: 70vh;
  border-radius: 10px;
  padding: 10px;
 
}

.ver-ticket-a .content-a .titulo_Table {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  width: 100%;
  font-size: 40px;
}


.ver-ticket-a .content-a .react-data-table {
  width: 100%;
  max-width: 850px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 5px;
 
}

.ver-ticket-a .content-a .react-data-table table {
  width: 100%;
  border-collapse: collapse;
}

.ver-ticket-a .content-a .react-data-table th,
.ver-ticket-a .content-a .react-data-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.ver-ticket-a .content-a .react-data-table th {
  background: #007bff;
  color: white;
}

.ver-ticket-a .content-a .react-data-table tbody tr:hover {
  background: #f1f1f1;
}


.ver-ticket-a .content-a .react-data-table .id-column {
  width: 20px;
  padding: 0%
  
}

.ver-ticket-a .content-a .react-data-table .asunto-column {
  width: 300px; 
  white-space: normal; 
  word-wrap: break-word; 
}

.ver-ticket-a .content-a .filter-select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: white;
  color: #333;
  margin-bottom: 15px;
  width: 200px;
  cursor: pointer;
}



@media screen and (max-width: 1410px) {
  .ver-ticket.content {
    margin-left: 180px;
    margin-right: 30px;
    width: calc(98% - 140px);
    height: auto; 
  }

  .ver-ticket-a .content-a .titulo_Table {
    font-size: 24px;
  }

  .ver-ticket-a .content-a .react-data-table {
    padding: 5px 1px;
    width: 100%;
    max-width: 650px;
  }

  .ver-ticket-a .content-a .react-data-table th,
  .ver-ticket-a .content-a .react-data-table td {
    padding: 5px;
    font-size: 14px;
  }

  .ver-ticket-a .content-a .filter-select {
    width: 30%; 
  }
}

@media screen and (max-width: 1230px) {
  .ver-ticket.content {
    margin-left: 180px;
    margin-right: 30px;
    width: calc(98% - 140px);
    height: auto; 
  }

  .ver-ticket-a .content-a .titulo_Table {
    font-size: 24px;
  }

  .ver-ticket-a .content-a .react-data-table {
    padding: 5px 1px;
    width: 100%;
    max-width: 450px;
  }

  .ver-ticket-a .content-a .react-data-table th,
  .ver-ticket-a .content-a .react-data-table td {
    padding: 5px;
    font-size: 14px;
  }

  .ver-ticket-a .content-a .filter-select {
    width: 30%; 
  }
}


@media screen and (max-width: 1026px) {
  .ver-ticket-a .content-a {
    margin-left: 280px;
    width: calc(88% - 200px);
    height: auto; 
  }

  .ver-ticket-a .content-a .titulo_Table {
    font-size: 24px;
  }

  .ver-ticket-a .content-a .react-data-table {
    padding: 5px 1px;
    width: 100%;
    max-width: 450px;
  }

  .ver-ticket-a .content-a .react-data-table th,
  .ver-ticket-a .content-a .react-data-table td {
    padding: 5px;
    font-size: 14px;
  }

  .ver-ticket-a .content-a .filter-select {
    width: 30%; 
  }
}


@media screen and (max-width: 855px) {
  .content-a {
    margin-left: 290px;
    width: calc(88% - 300px);
    height: auto; 
  }

  .ver-ticket-a .content-a .titulo_Table {
    font-size: 24px;
  }

  .ver-ticket-a .content-a .react-data-table {
    padding: 5px 1px;
  }

  .ver-ticket-a .content-a .react-data-table th,
  .ver-ticket-a .content-a .react-data-table td {
    padding: px;
    font-size: 14px;
  }

  .ver-ticket-a .content-a .filter-select {
    width: 100%; 
  }
}


@media screen and (max-width: 768px) {
  .content-a {
    margin-left: 450px;
    margin-right: 50px;
    width: calc(70% - 350px);
    height: auto; 
  }

  .ver-ticket-a .content-a .titulo_Table {
    font-size: 24px;
  }

  .ver-ticket-a .content-a .react-data-table {
    padding: 5px 2px;
  }

  .ver-ticket-a .content-a .react-data-table th,
  .ver-ticket-a .content-a .react-data-table td {
    padding: 5px;
    font-size: 14px;
  }

  .ver-ticket-a .content-a .filter-select {
    width: 100%; 
  }
}



